*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

p{
    color: #ffffff;
    font-size: 22px;
    margin-left: 25px;
}

h3{
    color: goldenrod;
    font-size: 28px;
    font-weight: bold;
    margin-left: 25px;
}

.desc{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
}

li {
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 25px;
}
Li::marker{
    color: goldenrod;

}
ul{
    margin-left: 20px;
    color: white;
    font-size: 22px;
}

ol{
    margin-left: 20px;
    color: white;
    font-size: 22px;
    
}
a {
    color: goldenrod;
    text-decoration: none;
    font-size: 45px;
    margin-top: 25px;
    margin-bottom: 25px;
}

a:hover{
    color: #ffffff;
    font-weight: bold;
}

img{
    background-color: goldenrod;

}

img:hover{
    opacity: 0.5;
}
.title {
    background-color: black;
    color: goldenrod;
    font-size: 50px;
    padding: 30px;
    text-align: center;
    border-bottom: 10px solid goldenrod;
}

.title:hover{
    color: white;
}

.recipes{
    background-color: black;
    color: goldenrod;
    text-align: center;
    display: inline-block;
}

.recipe{
    margin-bottom: 10px;
    display: inline-block;
}

button {
    background-color: goldenrod; 
    margin-left: 50%;
    padding: 18px;
    font-size: 15px;
    margin-bottom: 25px;
}

Button:hover {
    background-color: #ffffff;
    color: goldenrod;
}